.Models {
  .model-card-footer {
    background-color: #d09828;
  }
   .mdb-color.lighten-3 {
     background-color: #2E5580;
   }
   .col-md-3 {
     padding: 1rem;
   }
 
   .card.card-cascade .view.view-cascade {
     height: 220px;
   }
   .md-form.md-outline label {
     font-weight: 400;
   }
   .add-model-validation-error {
     /* The username or password is incorrect Please try again or contact the project manager */
     width: 297px;
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 30px;
     color: #EB5757;
     float: left;
   }
   .ml-5 {
     margin-left: 5rem!important;
   }
   .ml-2 {
     margin-left: 0.3rem!important;
   }
 }